body {
    margin: 0;
}

.section-1 {
    background-color: rgb(5, 5, 67);
    height: 150px;
    padding: 0;
    width: auto;
}

.logo {
    text-align: center;
}

.logomarca{
    width: 70px;
    margin-top: 15px;
}

.title {
    color: rgb(133, 162, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin: auto;
    text-align: center;
}