body {
    margin: 0;
    background-color: rgb(20, 37, 68);
}

.logomarca{
    margin-top: 15px;
    width: 70px;
}

.section-1 {
    background-color: rgb(26, 26, 69);
    height: 130px;
    padding: 0;
    text-align: center;
}

.section-2 {
    background-color:rgb(27, 61, 109);
    text-align: center;
}

.section-2-text{
    color: rgb(145, 182, 241);
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.title {
    color: rgb(90, 132, 249);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight:bolder;
    margin: auto;
}