* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*----------- header ------------*/

.container-header {
    background-color: #04233f;
    padding: 20px;
    text-align: center;
}

.container-header h3 {
    font-weight: 600;
    font-size: 2em;
    color: #1190ff;
}

/*----------- nav ------------*/

.container-nav {
    background-color:#06345d;
    text-align: center;
    padding: 20px;
}

.container-nav a {
    font-size: 1.5em;
    margin: 0px 50px;
    text-decoration: none;
    color: #7cc2ff;
}

.container-nav a:hover {
    color: #ffffff;
}

.container-nav-text{
    color: rgb(145, 182, 241);
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}

/*----------- articles section ------------*/
.container-articles {
    background-color: #05192a;
    overflow: auto;
}

.container-articles .servico {
    float: center;
    margin: 60px auto;
    background-color: #061f35;
    width: 50%;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.container-articles .servico-texto {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    font-size: 1.2em;
    color: #81c4ff;
}

.container-articles .servico-texto-realce {
    color: white;
    font-weight: bold;
}


.container-articles .servico .icone {
    margin-bottom: 10px;
}

.container-servicos {
    background-color: #05192a;
    font-size: 1.1em;
    padding: 60px;
    overflow: auto;
}

.container-servicos h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

.container-servicos h3 {
    color: #2097ff;
    padding: 20px 0;
}

.container-servicos article {
    width: 40%;
    margin: auto;
    float: center;
}

.container-servicos li{
    margin-bottom: 20px;
    margin-left: 50px;
    color: white;
}

.container-servicos-contatos {
    background-color: #082946;
    padding: 80px;
    text-align: center;
}

.container-servicos-contatos .botoes-servicos-contatos {
    padding: 60px;
    text-align: center;

}

.botoes-servicos-contatos a {
    display: block;
    max-width: 200px;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #008eb9;
    color: white;
    padding: 20px 60px;
    margin: 10px auto;
    border-radius: 10px;
}

.botoes-servicos-contatos a:hover{
    background-color: white;
    color: black;
}

/*----------- footer ------------*/
footer {
    text-align: center;
    padding: 80px;
    background-color: #02111f;
    color: gray;

}

/*----------- general settings ------------*/
.text-center {
    text-align: center;
}

.margin-top-40 {
    margin-top: 40px;
}
